# RPC
MAINNET=https://mainnet-tezos.giganode.io
TESTNET=https://testnet-tezos.giganode.io
CURRENT_NETWORK="carthagenet"

# MICROSERVICES
IMAGE=https://image.popmachineglow.io/

# GAME SETTINGS
UTC_START=16
UTC_END=17

# TWILIO
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_API_KEY=SKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_API_SECRET=YYXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# TWILIO - CHAT
TWILIO_CHAT_SERVICE_SID=ISXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
