# RPC
MAINNET=https://api.tez.ie/rpc/mainnet
TESTNET=https://api.tez.ie/rpc/babylonnet
CURRENT_NETWORK="carthagenet"

# MICROSERVICES
IMAGE=https://image.popmachineglow.io/

# TWILIO
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_API_KEY=SKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_API_SECRET=YYXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# TWILIO - CHAT
TWILIO_CHAT_SERVICE_SID=ISXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX