/* Main Content Pane */
.container {
  width: 90vw;
  margin: 2rem auto;
}

/* Contract Icons */
.icon-wrapper {
  position: relative;
  margin: auto;
  float: right;
}
.icon-t {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  position: absolute;
  top: -40px;
  left: -70px;
  clear: both;
}