/* General */
.hidden {
  display: none;
}
.m-auto {
  margin: auto;
}

/* Main Content Pane */
.main {
  width: 100%;
  margin: 2rem auto;
}

/* Contract Icons */
.icon-wrapper {
  position: relative;
  margin: auto;
  float: right;
}
.icon-t {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  position: absolute;
  top: -40px;
  left: -70px;
  clear: both;
}

/* Footer Content Pane */
.footer {
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: 1.5rem;
}
.footer img {
  margin: auto;
  display: block;
}

/* Nomic Chat Room */
section.chat {
  height:70%;
  background-color:#2B2B2A;
}

section.chat input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height: 330px;
  min-height: 35vh;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info,
.system {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.chat-msg.local {
  font-weight:bold;
  color:cyan;
}

.chat-msg.local span.chat-msg-body {
  color: yellowgreen;
}

.chat-msg.remote {
  font-weight:bold;
  color: yellow;
}

.chat-msg.remote span.chat-msg-body {
  color: mistyrose;
}

.message-container {
  display:inline-block;
  margin-right:5px;
}

.input-group.chat-controls {
  min-width: 100%;
}

/* IDE */
.CodeMirror,
.vue-codemirror {
  border: 1px solid #eee;
  /* height: auto; */
  /* height: 50vh; */
  /* min-height: 50vh; */
  /* min-width: 770px; */
}
.CodeMirror-code,
.CodeMirror-line {
  line-height: 1.25em;
  font-size: 18px;
}
#rules-current,
#rules-saved {
  height: calc(50vh + 0.5rem);
  overflow-y: auto;
  margin-bottom: 1rem;
}
.execute {
  margin: 0.5rem;
  margin-left: 0;
}
#ide-saved,
.executed.clear-output {
  width: 300px;
  max-width: 300px;
  margin: 0;
}
.executed.clear-output {
  display: inline-block;
}
.term-container-wrapper {
  display: block;
  width: calc(100% - 300px);
  float: right;
}
/* .term-container, 
.ide-pane {
  margin: auto;
} */
.term-container {
  position: relative;
  left: -5.5px;
}