/* Main Content Pane */
.container {
  width: 90vw;
  margin: 2rem auto;
}

/* Contract Icons */
.icon-wrapper {
  position: relative;
  margin: auto;
  float: right;
}
.icon-t {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position:50% 50%;
  background-repeat:no-repeat;
  position: absolute;
  top: -40px;
  left: -70px;
  clear: both;
}

/* Footer Content Pane */
.footer {
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: 1.5rem;
}
.footer img {
  margin: auto;
  display: block;
}

/* Nomic Chat Room */
.config-value.set {
  color:seagreen;
}

.config-value.unset {
  color:darkred;
}

section.chat {
  height:70%;
  background-color:#2B2B2A;
}

section.chat input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  min-height: 35vh;
  width: 80vw;
  margin: 0 auto;
  overflow-y: auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}